/* Estilos para el contenedor de información */
.info-container2 {
    float: right;
    margin-top: 20px; /* Espacio superior */
    margin-right: 20%; /* Ajustar el margen derecho */
    clear: both; /* Limpiar el float */
  }
  
  /* Estilos para los textos */
  .info-item2 {
    margin-bottom: 20px; /* Espacio entre cada texto */
  }
  
  .info-item2 p {
    font-weight: bold; /* Texto en negrita */
  }
  
  .info-item2 hr {
    border: 1px solid black; /* Línea divisoria */
  }
  