.actions-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .action-button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin: 0 10px;
    font-size: 18px;
    border-radius: 5px;
  }
  
  .yellow {
    background-color: yellow;
  }
  
  .red {
    background-color: red;
  }
  
  .green {
    background-color: green;
  }
  