.info-container5 {
    width: 20%;
    background-color: rgb(189, 186, 186);
    height: 260px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .info-item {
    text-align: center;
  }
  
  .info-container hr {
    width: 80%;
    margin-top: 5px;
    border: 1px solid black;
  }
  